In [3]:
import pandas as pd

In [4]:
data_path = "../../datasets/fb15k-237/"

In [5]:
# triplets_train = pd.read_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_ids.csv")
test = False
if test:
    triplets = pd.read_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_ids.test.csv")
else:
    triplets = pd.read_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_ids.csv")

In [29]:
triplets.head()

,src_freebase_id,relation,dest_freebase_id,triple_id,timestamp,relation_name,relation_id,freebase_id_x,label_x,src_wikidata_id,freebase_id_y,label_y,dest_wikidata_id
0,/m/027rn,/location/country/form_of_government,/m/06cx9,0,2024-10-06,/location/country/form_of_government,0,/m/027rn,Dominican Republic,786,/m/06cx9,republic,7270
1,/m/017dcd,/tv/tv_program/regular_cast./tv/regular_tv_app...,/m/06v8s0,1,2024-11-05,/tv/tv_program/regular_cast./tv/regular_tv_app...,1,/m/017dcd,Mighty Morphin Power Rangers,513809,/m/06v8s0,Wendee Lee,2642437
2,/m/07s9rl0,/media_common/netflix_genre/titles,/m/0170z3,2,2024-12-08,/media_common/netflix_genre/titles,2,/m/07s9rl0,drama film,130232,/m/0170z3,American History X,208572
3,/m/01sl1q,/award/award_winner/awards_won./award/award_ho...,/m/044mz_,3,2024-10-23,/award/award_winner/awards_won./award/award_ho...,3,/m/01sl1q,Michelle Rodriguez,184219,/m/044mz_,Naveen Andrews,208374
4,/m/0cnk2q,/soccer/football_team/current_roster./sports/s...,/m/02nzb8,4,2024-11-26,/soccer/football_team/current_roster./sports/s...,4,/m/0cnk2q,Australia men's national soccer team,268208,/m/02nzb8,midfielder,193592

In [13]:
freebase_vs_wiki_df =  pd.read_csv(f"{data_path}/derived/fb_wiki_mapping_incl_wiki_extracts.csv")

In [14]:
freebase_vs_wiki_df['wikidata_int_id'] = freebase_vs_wiki_df.apply(lambda row: int(row['wikidata_id'][1:]), axis=1)

freebase_vs_wiki_df.drop('wikidata_id', axis=1, inplace=True)
freebase_vs_wiki_df.rename(columns={'wikidata_int_id':'wikidata_id'}, inplace=True)

In [15]:
freebase_vs_wiki_df.head()

,freebase_id,label,Title,Extract,wikidata_id
0,/m/010016,Denton,"Denton, Texas",Denton is a city in the U.S. state of Texas an...,128306
1,/m/0100mt,El Paso,"El Paso, Texas",El Paso is a city in and the county seat of El...,16562
2,/m/0102t4,Marshall,"Marshall, Texas",Marshall is a city in the U.S. state of Texas....,52996
3,/m/0104lr,Beaumont,"Beaumont, Texas",Beaumont is a city in the U.S. state of Texas....,128282
4,/m/0105y2,Lubbock,"Lubbock, Texas",Lubbock ( LUB-ək)\nis a city in the U.S. state...,49273

In [30]:
with_src_wiki_extract_df = pd.merge(
    triplets, freebase_vs_wiki_df[['wikidata_id', 'Title', 'Extract']], 
    left_on='src_wikidata_id', right_on='wikidata_id'
)

In [31]:
with_src_dest_wiki_extract_df = pd.merge(
    with_src_wiki_extract_df, freebase_vs_wiki_df[['wikidata_id', 'Title', 'Extract']], 
    left_on='dest_wikidata_id', right_on='wikidata_id'
)

In [32]:
with_src_dest_wiki_extract_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239880 entries, 0 to 239879
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   src_freebase_id   239880 non-null  object
 1   relation          239880 non-null  object
 2   dest_freebase_id  239880 non-null  object
 3   triple_id         239880 non-null  int64
 4   timestamp         239880 non-null  object
 5   relation_name     239880 non-null  object
 6   relation_id       239880 non-null  int64
 7   freebase_id_x     239880 non-null  object
 8   label_x           239880 non-null  object
 9   src_wikidata_id   239880 non-null  int64
 10  freebase_id_y     239880 non-null  object
 11  label_y           239880 non-null  object
 12  dest_wikidata_id  239880 non-null  int64
 13  wikidata_id_x     239880 non-null  int64
 14  Title_x           239880 non-null  object
 15  Extract_x         239880 non-null  object
 16  wikidata_id_y     239880 non-null  int64
 17  Title_y           239880 non-null  object
 18  Extract_y         239880 non-null  object
dtypes: int64(6), object(13)
memory usage: 34.8+ MB

In [22]:
with_src_dest_wiki_extract_df.head(3)

,src_freebase_id,relation,dest_freebase_id,timestamp,relation_name,relation_id,label_x,src_wikidata_id,label_y,dest_wikidata_id,triple_id,Title_x,Extract_x,Title_y,Extract_y
0,/m/08966,/travel/travel_destination/climate./travel/tra...,/m/05lf_,2025-01-02,/travel/travel_destination/climate./travel/tra...,148,Zürich,72,October,124,272115,Zurich,Zurich (German: Zürich; Alemannic German: Züri...,October,October is the tenth month of the year in the ...
1,/m/01hww_,/music/performance_role/regular_performances./...,/m/01q99h,2025-01-02,/music/performance_role/regular_performances./...,92,autoharp,370915,Heart,941662,272116,Autoharp,An autoharp or chord zither is a string instru...,Heart (band),Heart is an American rock band formed in Seatt...
2,/m/09v3jyg,/film/film/release_date_s./film/film_regional_...,/m/0f8l9c,2025-01-02,/film/film/release_date_s./film/film_regional_...,13,Winnie the Pooh,922193,France,142,272117,Winnie the Pooh (2011 film),Winnie the Pooh is a 2011 American animated mu...,France,"France, officially the French Republic, is a c..."

In [33]:
with_src_dest_wiki_extract_df.drop(columns=['freebase_id_x', 'freebase_id_y', 'wikidata_id_x', 'wikidata_id_y'],inplace=True)

In [34]:
with_src_dest_wiki_extract_df.rename(columns={
    'label_x':'src_wikidata_label','label_y':'dest_wikidata_label',
    'Title_x': 'src_wikidata_title','Title_y': 'dest_wikidata_title',
    'Extract_x':'src_wikidata_extract','Extract_y':'dest_wikidata_extract',
},inplace=True)

In [35]:
if test:
    with_src_dest_wiki_extract_df.to_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_extracts.test.csv")
else:
    with_src_dest_wiki_extract_df.to_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_extracts.csv")

In [6]:
# load generated file
if test:
    with_src_dest_wiki_extract_df = pd.read_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_extracts.test.csv")
else:
    with_src_dest_wiki_extract_df = pd.read_csv(f"{data_path}/derived/triplets_with_src_dst_wiki_extracts.csv")

In [11]:
prefix = f"{data_path}/derived/triplets_with_src_dst_wiki_extracts"

In [12]:
# split file into 10k chunks each
k = 10000
df = with_src_dest_wiki_extract_df

num_rows = len(df)
for i in range(0, num_rows, k):
    chunk = df.iloc[i:i + k]
    print(len(chunk))
    filename = f"{prefix}.{i}.csv"
    chunk.to_csv(filename, index=False)

10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
10000
9880